<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <div id="app">
      <async-example></async-example>
      <async-example1></async-example1>
    </div>
  </body>
</html>
<script>
  Vue.component('async-example', function (resolve, reject) {
    setTimeout(function () {
      // 向 `resolve` 回调传递组件定义
      resolve({
        template: '<div>I am async!</div>'
      })
    }, 1000)
  })

  Vue.component('async-example1', () => import('./async-examplex')
  )



  var app = new Vue({
    el: '#app',
    data: {
    },
  })
</script>
