<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
  <div id="app">
    <child-component :level="1">parent 1</child-component>
    <child-component :level="2">parent 2</child-component>
    <child-component :level="3">
      这是默认的solt
      <template v-slot:slot1>
      自定义solt1
      </template>
    </child-component>
    <child-component :level="6"></child-component>
  </div>
  </body>
</html>
<script>
  Vue.component('child-component', {
    props: ['level'],
    template: `<slot>slot默认值</slot>`,
    render:function(createElement){
      //return createElement('h'+this.level,this.$slots.default);
      return createElement(
        'div',[createElement('h'+this.level,this.$slots.default),createElement('h'+this.level,this.$slots.slot1)]
      );
    }
  })

  var app = new Vue({
    el: '#app',
    data: {
      posts: [{id:1,title:'A',content:'AAAAAAAAAAAAA'},{id:2,title:'D',content:'DDDDDDDDDDD'},{id:3,title:'C',content:'CCCCCCCCCCCC'}],
      postFontSize: 1
    },
    computed: {
    },
    methods:{
    }
  })
</script>
