<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <div id="app">
      <input type="button" value="新增" @click="doAdd" />
      <input type="text" v-model="name"/>
      <my-component v-for="(todo,index) in list"
                    :key="todo.id"
                    :title="todo.name"
                    v-on:remove="list.splice(index, 1)">
      </my-component>
    </div>
  </body>
</html>
<script>
  Vue.component(
    'my-component',
    {
      template: '\
        <li>\
          {{ title }}\
          <button v-on:click="$emit(\'remove\')">Remove</button>\
        </li>\
      ',
      props: ['title']
    }
  );
  var app = new Vue({
    el: '#app',
    data: {
      name:'',
      list : [{id:1,name:'1',value:'1'},
        {id:2,name:'2',value:'2'},
        {id:3,name:'4',value:'4'},
        {id:4,name:'4',value:'4'},
        {id:5,name:'5',value:'5'},
        {id:6,name:'6',value:'6'},
        {id:7,name:'7',value:'7'}],
    },
    computed: {
    },
    methods:{
      doAdd(){
        this.list.push({id:this.length,name:this.name,value:this.name,});
      }
    }
  })
</script>
